<<<<<<< HEAD
/* 언어설정 */
@charset "utf-8";

/* 박스 A와 박스 B의 가로 정렬 */


.boxA {float: left;
    width: 70%;}
.boxB {float: left;
    width: 30%;}

    .box3::after {content: "";
        clear: both;
        display: block;}





=======
/* 언어설정 */
@charset "utf-8";

/* 박스 A와 박스 B의 가로 정렬 */


.boxA {float: left;
    width: 70%;}
.boxB {float: left;
    width: 30%;}

    .box3::after {content: "";
        clear: both;
        display: block;}





>>>>>>> 0afdc58056b9fd7cab08a47cb3b8a676c9a74f54
