<<<<<<< HEAD
/* 언어설정 */
@charset "UTF-8";

/* 전체설정 */
* {margin: 0; padding: 0;}


#wrap {display:flex;
    flex-flow:row wrap;
    width: 90%;
    margin: 0 auto;}


/* 헤더설정 */

.header {display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;}
.header>h1 {width: 12.5%;
            background-color: orange;
            height: 142px;
            position: absolute;
            left: 0;
            top: 0;}
.header>nav {width: 87.5%;
            background-color: chocolate;
            height: 80px;}


/* 슬라이더설정 */
.slider_section {background-color: darkkhaki;
                width: 50%;
                height: 440px;}

/* 갤러리설정 */
.gallery_section {background-color: darkolivegreen;
                width: 27%;}

/* 인기검색어설정 */
.rankup_section {background-color: darkgreen;
                width: 23%;}

/* 최신글 */
.latest_post_section {background-color: darkslateblue;
                width: 30%;
                height: 270px;}
            
/* 인기글 */
.popular_post_section {background-color: darkseagreen;
                width: 30%;}

/* 배너 */
.banner_section {display: flex;
        width: 23%;
        flex-direction: column;}
.banner_section>div {flex: 1;}
.banner_box1 {background-color: darkslategray;}
.banner_box2 {background-color: cornflowerblue;}

/* sns */
.social_section {background-color: burlywood;
                width: 17%;}


/* footer */
.footer {background-color: dimgray;
        width: 100%;
=======
/* 언어설정 */
@charset "UTF-8";

/* 전체설정 */
* {margin: 0; padding: 0;}


#wrap {display:flex;
    flex-flow:row wrap;
    width: 90%;
    margin: 0 auto;}


/* 헤더설정 */

.header {display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;}
.header>h1 {width: 12.5%;
            background-color: orange;
            height: 142px;
            position: absolute;
            left: 0;
            top: 0;}
.header>nav {width: 87.5%;
            background-color: chocolate;
            height: 80px;}


/* 슬라이더설정 */
.slider_section {background-color: darkkhaki;
                width: 50%;
                height: 440px;}

/* 갤러리설정 */
.gallery_section {background-color: darkolivegreen;
                width: 27%;}

/* 인기검색어설정 */
.rankup_section {background-color: darkgreen;
                width: 23%;}

/* 최신글 */
.latest_post_section {background-color: darkslateblue;
                width: 30%;
                height: 270px;}
            
/* 인기글 */
.popular_post_section {background-color: darkseagreen;
                width: 30%;}

/* 배너 */
.banner_section {display: flex;
        width: 23%;
        flex-direction: column;}
.banner_section>div {flex: 1;}
.banner_box1 {background-color: darkslategray;}
.banner_box2 {background-color: cornflowerblue;}

/* sns */
.social_section {background-color: burlywood;
                width: 17%;}


/* footer */
.footer {background-color: dimgray;
        width: 100%;
>>>>>>> 0afdc58056b9fd7cab08a47cb3b8a676c9a74f54
        height: 94px;}