<<<<<<< HEAD
/* 언어설정 */
@charset "UTF-8";

/* 전체설정 */
*wrap {display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: 0 auto;}

/* 헤더설정 */
.header {display: flex;
        width: 100%;
    }
.header>h1 {background-color: bisque;
        width: 12.5%;
        height: 142px;}
.header>nav {background-color: beige;
        width: 87.5%;}
=======
/* 언어설정 */
@charset "UTF-8";

/* 전체설정 */
*wrap {display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: 0 auto;}

/* 헤더설정 */
.header {display: flex;
        width: 100%;
    }
.header>h1 {background-color: bisque;
        width: 12.5%;
        height: 142px;}
.header>nav {background-color: beige;
        width: 87.5%;}
>>>>>>> 0afdc58056b9fd7cab08a47cb3b8a676c9a74f54
